{{#each articles}}

<div>
  <div class='col-sm-4'>
    <div>
     <h3>{{title}}</h3>
    </div> 
    <div>
     <h4><p><a href="{{link}}">{{link}}</a></p></h4>
    </div><br>
    <div class="commentBox">Comments:</div><br>
    <input type="text" name="note" class="input"><br>
      <br><button class="commentButton">Leave or View Comment</button>
      {{!-- <button class="viewComment">View Comments</button> --}}
  </div>
</div>

{{/each}}