{{#each articles}}

<div>
  <div class='col-sm-4'>
    <div>
     <h3>{{title}}</h3>
    </div> 
    <div>
     <h4>{{link}}</h4>
    </div>
    <div class="comments">
    Comments:<br>
    {{note}}
    </div><br>
    <input type="text" name="note" class="input"><br>
      <button class="commentButton">Submit Comment</button>
  </div>
</div>

{{!-- <div class="comments" class="col-sm-6"></div> --}}

{{/each}}