{{#each articles}}

<div>
  <div class='col-sm-4'>
    <div>
     <h3>{{title}}</h3>
    </div> 
    <div>
     <h4>{{link}}</h4>
    </div>
      <button class="commentButton">Leave a Comment</button>
      <button class="viewComment">View Comments</button>
  </div>
</div>

{{/each}}